<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="display-style.css" type="text/css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src = "get-posts.js"></script>
</head>
<body>
    <header>
        <h1 class="logo">Blog - feel free to come up with a name!</h1>
        <nav>
            <button class="btn lg-btn btn-outline-light"><a href="http://localhost:4001/">New Post</a></button>
            <button class="btn lg-btn btn-outline-light"><a href="http://localhost:4001/new-entry">Blog Feed</a></button>
        </nav>
    </header>
   <h1>Blog Feed</h1>
    <div id="blogDisplay">
   </div>
   <footer>
    This is a footer.
</footer>
</body>
</html>