body {
    display: flex;
    background-color:lightblue;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width:100%;
}

.logo{
    display:flex;
}

nav {
    display:flex;
    /* width:100%; */
    /* background-color:grey; */
    /* background-color:lightblue; */
    /* min-height: 100px; */
    width: 300px;
    justify-content: space-around;
    align-items: center;
    margin:0;
    padding:0;
    /* border:2px red solid; */
}

footer {
    display: flex;
    height: 150px;
    justify-content: space-around;
    align-items: center;
}

#blogDisplay {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.post_div {
    display: flex;
    flex-direction:column;
    height: auto;
    width: 100%;
    background-color: lightpink;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;

    border:2px solid grey;
    border-radius:10px;
    margin:10px;
    
}

.post_date {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.post_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:white;
}

.user_post_image{
    background-color:white;
    display:flex;
    flex-direction:row;
    /* border:2px red solid; */
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    border: 1px solid grey;
}

.user_name {
    display:flex;
    font-size:20px;
    padding-left:20px;
    background-color:lightblue;
    border: grey 1px solid;
}

/* .some class { //please DEBUG
    background-color: white;
    width: 100%;

    border: 10px lightpink solid;
    background-color: silver;
} */

/* 2 form classes below: */

.comment_section{
    
    /* border: 1px solid black; */
}

/* .comment_container{ */
    /* border: 1px solid grey; */
    /* background-color:white;
} */

.comment_username{
    display:flex;
    font-size:20px;
    padding-left: 10px;
    background-color:lightblue;
    border: black 1px solid;
}

.comment_content{
    word-wrap: break-word; 
    padding: 5px;
    padding-left:10px;
    height: auto;
    background-color: white;
    border: black 1px solid;
}

.comment-container-show {
    display: flex;
    flex-direction: column;
}
.comment-container {
    display: flex;
    flex-direction: column;
}

.form_div {
    display: none;
}

.form_div_show {
    display: flex;
    flex-direction: column;
}


/*    this got lost in the branches merge!!!
padding: 5px; 
} */

.user_post {
    /* background-color: white; */
    /* display:flex; */
    width: 70%;
    word-wrap: break-word; 
    padding: 5px;
    padding-left:10px;
    height: auto;
}

.user_image{
    display:flex;
    justify-content:center;
    object-fit: scale-down;
    padding-right: 15px;
}   

.user-icon {
    display:flex;
    align-items:center;
    font-size:30px;
    text-align:center;
}

.giphyImage{
    display:flex;
    justify-self:center;
    height:200px;
    max-width:269px;
    border: 1px solid black;
}


/* Comments and Emojis Section */

.comment{
    margin:8px;
    display:flex;
    align-self:center;
    text-align:center;
    border: 0.1em solid white;
    border-radius: 3px;
    background-color: transparent;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    text-decoration: none;
    transition: 0.4s;
}

.comment:hover {
    background-color: lightblue;
    color: black;
}

.emojicontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}

.emojigroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commentbox {
    padding: 5px;
}

.form_div {
    border: 0.1em solid white;
    border-radius: 3px;
    padding: 5px; 
}

/* .comment_container {
    padding: 5px;
} */

.usernamebox {
    border-radius: 3px;
    padding: 5px;
    background-color: lightblue;
}

.commentbox {
    border-radius: 3px;
    padding: 5px;
}

.submit {
    margin:8px;
    display:flex;
    align-self:center;
    text-align:center;
    border: 0.1em solid white;
    border-radius: 3px;
    background-color: transparent;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    text-decoration: none;
    transition: 0.4s;
}

.submit:hover {
    background-color: lightblue;
    color: black;
}

.comment_icon {
    margin-left: 10px;
    margin-bottom: none;
    background-color: lightpink;

}

p {
    padding-right: 5px;
}