body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    background-color:lightblue;
}

#blogDisplay {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.post_div {
    display: flex;
    /* justify-content: space-around; */
    height: auto;
    width: 100%;
    background-color: lightpink;
    padding: 10px;
    /* border: 5px black solid; */
    border:2px solid grey;
    border-radius:10px;
    margin:10px;
}

.post_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 10px;
}

.user_name {
    background-color: white;
    width: 100%;
    padding: 5px; 
    font-size:20px;
}

.user_post {
    background-color: white;
    width: 100%;
    padding: 5px;
    height: 100%;
}

.user-icon {
    display:flex;
    align-items:center;
    font-size:30px;
    text-align:center;

}

.giphyImage{
    height:160px;
}


