body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#blogDisplay {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.post_div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 100%;
    border: 10px lightpink solid;
    background-color: silver;
}

/* 2 form classes below: */

.comment-container-show {
    display: flex;
    flex-direction: column;
}
.comment-container {
    display: flex;
    flex-direction: column;
}

.form_div {
    display: none;
}

.form_div_show {
    display: flex;
    flex-direction: column;
}

