body {
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
    min-height:100%;
    width:100%;
    background-color: lightblue;
    /* border:2px black solid; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

.logo{
    display:flex;
}

nav {
    display:flex;
    /* width:100%; */
    /* background-color:grey; */
    background-color:lightblue;
    /* min-height: 100px; */
    width: 300px;
    justify-content: space-around;
    align-items: center;
    margin:0;
    padding:0;
    /* border:2px red solid; */
}

footer {
    display: flex;
    height: 150px;
    justify-content: space-around;
    align-items: center;
}

#title{
    display:flex;
    width:80%;
    justify-self:center;
    align-self:center;
    justify-content:center;
    /* border:2px red solid; */
}

h1{
    font-size:2.5rem;

}

h2{
    margin-bottom:8px;
    font-size:30px;
    color: black;
    text-align:center;
    margin-bottom:15px;
}

article{
    display:flex;
    margin-top:5%;
    width:30%;
    flex-direction:column;
    align-self:center;
    /* border:2px red solid; */
}

form {
    display: flex;
    flex-direction: column;
    padding:10px;
    background-color:lightpink;
    /* border:8px solid salmon; */
    /* border:8px solid lightgrey; */
    border:2px solid grey;
    border-radius:10px;
    box-shadow: 10px 10px 5px grey;
}

#characterAlert {
    display: none;
}

.characterAlert {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#characterAlert p {
    font-size: 12px;
    color: rgb(20, 20, 78);
}

.text-form{
    margin-top:8px;
    margin-bottom:8px;
    border-radius:4px;
    border: 1px solid grey;
    padding:10px;
    font-size:18px;
}

#postSubmitButton{
    padding:10px;
    border-radius:10px;
    /* background-color:salmon; */
    background-color:lightpink;
    
}

#postSubmitButton:hover{
    padding:10px;
    border-radius:10px;
    background-color:rgb(233, 163, 173);
    cursor:pointer;
}

textarea{
    border-radius:4px;
    border: 1px solid grey;
    font-size:18px;
    padding:10px;
}

p {
    font-size:25px;
    padding:0;
    margin:0;
    font-weight:100%;
}